<div class="form-group input_bg">
        <div class = "form-control" style = "width : 91%;padding:10px;">Background</div>
            <button class="toggle_sw" value="toggle_sw" style="color:#b5b5b5;background:#191919;margin-top:0.5em;margin-bottom:0.5em;width:7%;font-size:1.5em;padding:0.1em;font-family:Nanum Pen Script, cursive;">+</button>
            <div class="background f_wrap " style="display:none;">
            <h2>How many colors?</h2>
                    <input type="radio" id="1-option" name = "selector" class="bg_cnt" checked="checked">
                    <label for="f-option">1</label>
    
                    <input type="radio" id="2-option" name = "selector" class="bg_cnt">
                    <label for="s-option">2</label>
      
                    <input type="radio" id="3-option" name = "selector" class="bg_cnt">
                    <label for="t-option">3</label>
                    <hr style="border:solid 0.02em #606060">
                        <span class="p2" style="margin-right:10em">choose color : </span> 
                        
                        <button class="roundbt bg1 jscolor {valueElement:'chosen-value', onFineChange:'setBodyColor1(this)'}"></button>
                        <button class="roundbt bg2 jscolor {valueElement:'chosen-value', onFineChange:'setBodyColor2(this)'}" style="display:none;"></button>
                        <button class="roundbt bg3 jscolor {valueElement:'chosen-value', onFineChange:'setBodyColor3(this)'}" style="display:none;"></button>
                        
            </div>
        </div>
</div>

<script>
    gra1 = '#FFFFFF';
    gra2 = '#FFFFFF';
    
    function setBodyColor1(jscolor) {

    gra1 = jscolor;
    document.getElementById('html-content-holder').style.backgroundImage = 'linear-gradient(#' + gra2 + ', #' + gra1 + ')';
    
    }
    
    function setBodyColor2(jscolor) {
    
    gra2 = jscolor;
    document.getElementById('html-content-holder').style.backgroundImage = 'linear-gradient(#' + gra1 + ', #' + gra2 + ')';
    
    }
    
    function setBodyColor3(jscolor) {
        
    gra3 = jscolor
    document.getElementById('html-content-holder').style.backgroundImage = 'linear-gradient(#' + gra1 + ', #' + gra2 + ', #' + gra3 + ')';
    
    }
    
    $(".bg_cnt").on("click",function(){
            switch (this.id) {
                case "1-option" :
                   $('.bg1').css("display","");
                   $('.bg2').css("display","none");
                   $('.bg3').css("display","none");
                   gra2 = gra1;
                break;
                case "2-option" :
                   $('.bg1').css("display","");
                   $('.bg2').css("display","");
                   $('.bg3').css("display","none");
                break;
                
                case "3-option" :
                   $('.bg1').css("display","");
                   $('.bg2').css("display","");
                   $('.bg3').css("display","");
                break;
                    
                
            }
        });
</script>
