<style>
        #textb{font-weight:bold;}
        #texti{font-style:italic;}
        #textu{text-decoration:underline;}
        
        /*#fontdodum{font-family:'dotum',sans-serif;}*/
        /*#fontnanump{font-family:'Nanum Pen Script', serif;}*/
</style>

<div class="form-group input_option">
        <input type="text" class="form-control text_input" > <button class="toggle_on" value="toggle_on" style="margin-top:20px;margin-bottom:20px">+</button>
        <div class="option f_wrap pt-page-moveFromTopFade " style="display:none;">
                <dl>
                        <dt style="color:white">글자크기 (<span class="lbl_fontsize" >14px</span>) </dt>
                                <dd class="zoom">
                                           <div class="slider"></div>
                                </dd>
                        <dt>글자모양</dt>
                        <dd class="f_style">
                                <select class="fs">
                                        <option value="dotum,'돋움',sans-serif">돋움</option>
                                        <option value="Nanum Brush Script, '나눔손글씨붓', serif">나눔손글씨붓</option>
                                        <option value="Nanum Pen Script, '나눔손글씨펜', serif">나눔손글씨펜</option>
                                        <option value="Nanum Myeongjo, '나눔명조', serif">나눔명조</option>
                                        <option value="Nanum Gothic, '나눔고딕', serif">나눔고딕</option>
                                        <option value="Godo, '고도', serif">고도</option>
                                        <option value="daehan, '대한체', serif">대한체</option>
                                        <option value="Sedgwick Ave, 'Sedgwick Ave', cursive">Sedgwick Ave</option>
                                        <option value="Acme, 'Acme', sans-serif">Acme</option>

                                </select>
                        </dd>
                          
                        <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
                        	    Color
                        </button>
                        <input class="chosen-value" value="000000">
                        	
                        <br>
                        <button id="textb" class="boldText" value="Bold">B</button>
                        <button id="texti" class="italicText" value="Italic">I</button>
                        <button id="textu" class="underlineText" value="Underline">U</button>
                        	
                </dl>
        </div>
</div>