      
  //bold underline italic 설정 - 작동안함 ㅠ 
    $(document).ready(function(){
          $('.boldText').click(function(){
             $('div.select').toggleClass("bold");
          });
          $('.italicText').click(function(){
            $('div.select').toggleClass("italic");
          });
          $('.underlineText').click(function(){
            $('div.select').toggleClass("underline");
          });
      });
  
  




//요기부터주석처리 잠깐    
  // // 마우스 클릭 시, 그 흰화면 따락 뜸
  //   $(document).ready(function(){
    
  //       // run the currently selected effect
  //       function runEffectTitle() {
  //         var options = {};
  //         $( "#title_effect" ).toggle( "blind", options, 500 );
  //       };
  //       function runEffectDetail() {
  //         var options = {};
  //         $( "#detail_effect" ).toggle( "blind", options, 500 );
  //       };
  //       function runEffectAddress() {
  //         var options = {};
  //         $( "#address_effect" ).toggle( "blind", options, 500 );
  //       };
        
  //       $( "#title" ).on( "click", function() {runEffectTitle();
  //         // $("#pt_title").addClass('select'); //class select 지워주는 거 추가하고 뒤에 detail이랑 address에 추가
  //         // changeEdit();
  //       });
         
  //       $( "#detail" ).on( "click", function() {runEffectDetail();
  //         //추가
  //       });
         
  //       $( "#address" ).on( "click", function() {runEffectAddress();
  //         //추가
  //       });
         
         
  //                             // $("#address").hover(                                              //address 마우스오버 때
  //                             //       function(){runEffectAddress();                 },              // 이거 생겨야됨
  //                             //       function(){$("#pt_address").removeClass('select');}                 //  마우스아웃 때, select 제거
  //                             //   );
                             
                             
  //                             // $("#address_effect").hover(                                              //마우스오버 때
  //                             //       function(){$("#pt_address").addClass('select');                     // pt_address 에 class에 select 추가
  //                             //                 $("#title_zm").addClass('zoom');                         // pt_address 에 class에 zoom 추가
  //                             //                   changeEdit();},                                         // ChangeEdit 함수 실행
  //                             //       function(){$("#pt_address").removeClass('select');}                 //  마우스아웃 때, select 제거
  //                             //   );


  //     }); //input 클릭 시 실행되는 script 닫음
//요기까지 주석처리

