<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
<style>

    #container { width: 568px; height:781px; border:2px solid #ccc; }

</style>
  <div class="col-md-4 col-md-offset-4 col-sm-12">
    <div class="child" id="here"></div>
    <a id="btn-Convert-Html2Image" href="#" >이미지 저장</a>
  </div>
    
<script>
    var tag = "<%=escape_javascript(@hpost.htmltag)%>";
    tag = tag.replace(/&lt;/gi,"<");
    tag = tag.replace(/&gt;/gi,">");
    tag = tag.replace(/&quot;/gi,"\"");
    
    $("#here").html(tag);
    $('#pt_picture_input1').attr('src','<%=@hpost.picture1.url%>');
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(document).ready(function(){
    // <!-- div 이미지로 변환 및 저장 script-->
      var element = $("#html-content-holder"); // global variable
      var getCanvas; // global variable
      html2canvas(element,{
        onrendered: function (canvas) {
        $("#html_content_holder").append(canvas);
        getCanvas = canvas;
        }
    });
           
  	$("#btn-Convert-Html2Image").on('click', function () {
      var imageData = getCanvas.toDataURL("image/png");
      // Now browser starts downloading it instead of just showing it
      var newData = imageData.replace(/^data:image\/png/, "data:application/octet-stream");
      $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
  	});
  	
  });
</script>