	<!-- Preloader Start -->
 <!--   <div id="preloader">-->
	<!--  <div class="loader"></div>-->
 <!--   </div>-->
    <!-- Preloader End -->

    
    
    <!-- Home & Menu Section Start -->
    <header id="home" class="home-section">
        
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="index.html">EasyAD</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-9">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#menu1">menu1</a> <!-- menu1 href연결 후 아래 div에 설정 or 새 페이지로 연결 -->
                                        </li>
                                        <li><a class="smoth-scroll" href="#portfolio">menu2</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#testimonials">menu3</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-section-background" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p>Hi! This is EasyAD</p>
                                    <h2><span class="typing"></span></h2>
                                    <!--script js 파일 typing 찾고 수정할 것-->
                                    <div class="margin-top-60">
                          <a class="button button-style button-style-icon fa fa-long-arrow-right smoth-scroll" href="#portfolio">View Poster</a>
                                  </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Home & Menu Section End-->
    


	   <style>
	   	span{
	   		color:white;
	   	}
	   </style>
	   
	
	
	
	<div class="pt-triggers">
			
			
			<button id="iterateEffects" class="pt-touch-button">Show next page transition</button>
			
			
			<!-- /dl-menu-wrapper-->
			
			
			
	</div><!-- /triggers -->
	
	
	
	<div id="pt-main" class="pt-perspective">
			
			<div class="pt-page pt-page-1">
				<div class="container">
					<h1><span class="first_page"></span></h1>
				</div>
				
			</div>
				
				
			<div class="pt-page pt-page-2">
				<div class="container">
					<h1><span class="second_page"></span></h1>
				</div>

			</div>
			
			<div class="pt-page pt-page-3">
				<h1><span>ggg</span></h1>
			</div>
			
			<div class="pt-page pt-page-4">
				<h1><span>ggg</span></h1>
			</div>
			
			<div class="pt-page pt-page-5">
				<h1><span>ggg</span></h1>
			</div>
			
			<div class="pt-page pt-page-6">
				<h1><span>ggg</span></h1>
			</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/assets/home_js/pagetransitions.js'></script>
    <script src="/assets/home_js/jquery.dlmenu.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
	<script src="/assets/home_js/ityped.js"></script>
	<script>
		window.ityped.init(document.querySelector('.first_page'), {
			strings : ['아싸 개이득'],
			loop : true
			});
		window.ityped.init(document.querySelector('.second_page'), {
		strings : ['한글은 잘되려나'],
			loop : true
		});
	</script>