<style>
		html body{
			background-color : #c7c7c9;
		}
</style>

	<div id = "rect">
		
		<div id="pt-main" class="pt-perspective">
			
			<div class="pt-page pt-page-1">
				<div class="container">
					<span class="first_page"></span>
				</div>
			</div>
				
			<div class="pt-page pt-page-2">
				<div class="container">
					<span class="second_page"></span>
				</div>
			</div>
			
			<div class="pt-page pt-page-3">
				<span class="third_page"></span>
			</div>
			
		</div>
		
	</div>
	
	<div class="pt-triggers">
			
		<button id="iterateEffects" class="pt-touch-button">Want some</button>

	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/assets/home_js/pagetransitions.js'></script>
	<script src="/assets/home_js/ityped.js"></script>
	
	<script>
		window.ityped.init(document.querySelector('.first_page'), {
			strings : ['Easy Ad is an awsome website that provides easy, fast, practical tools to create ones own poster. Each templates are very simple but also unique. Anyone can design their own poster. '],
			loop : true
			});
			
		window.ityped.init(document.querySelector('.second_page'), {
		strings : ['Team Easy Ad is composed of Captain linconan dayomi junny simso.Our Team runs by our own ABCs. Adventureous, Bright, Collaborate.'],
			loop : true
		});
		
		window.ityped.init(document.querySelector('.third_page'), {
		strings : ['Anyone can design their own poster.'],
			loop : true
		});
	</script>
	
	