<div class="bg">
    <div id="my-gallery" style = "column-count:3;">
                    <a class = "poster_list" href="/assets/list_img/image-1.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-1.jpg" alt=""/>
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-2.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-2.jpg" alt="" />
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-3.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-3.jpg" alt="" />
                    </a>

                    <a class = "poster_list" href="/assets/list_img/image-4.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-4.jpg" alt=""/>
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-5.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-5.jpg" alt=""/>
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-6.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-6.jpg" alt=""/>
                    </a>

                    <a class = "poster_list" href="/assets/list_img/image-7.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-7.jpg" alt="" />
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-8.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-8.jpg" alt="" />
                    </a>
                    <a class = "poster_list" href="/assets/list_img/image-9.jpg" data-lightbox="roadtrip">
                        <img class="poster-img" src="/assets/list_img/image-9.jpg" alt="" />
                    </a>
    </div>
    
    
    <div class="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>

 <script src="assets/list_js/lightbox-plus-jquery.js"></script>