// Place all the styles related to the hposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boldText{
    font-weight:bold;
}
.italicText{
    font-style:italic;
}
.underlineText{
    text-decoration:underline;
}

.option{
    width:80%;
    background-color:#333;
    opacity:0.7;
    padding:2.5em;
    border-radius: 25px;
    color:white;
    .dlmargin{
        margin-bottom:0px;
    }
    
    .roundbt{
        border-radius: 50%;
        overflow:hidden;
        margin:0em;
        padding:0.8em;
    }
    .p2{
        font-family:daehan,serif;
        font-size:14px;
        font-weight:400;
        margin-bottom:1em;
    }
    .p3{
        font-family:daehan,serif;
        font-size:9px;
        font-weight:400;
        margin-bottom:1em;
    }
    .chosen-value{
        border-radius:5px;
        border:1px solid #232323;
        background:#333;
        font-weight:400;
        color:white;
        font-family:daeuhan,serif;
        font-size:12px;
        width:10em;
        height:2.5em;
        text-align:center;
           &:focus{
            outline:none;
            border: none;
            border-radius:5px;
            border:1px solid #232323;
            background-color: transparent;
          }
    }
}