<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <!--Latest compiled and minified CSS -->
    <!-- web fonts -->
  <link href="https://fonts.googleapis.com/css?family=Allan|Armata|Nunito+Sans|Montserrat|Bowlby+One+SC|PT+Sans|Architects+Daughter|Domine|Lobster|Permanent+Marker|Sedgwick+Ave+Display" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <!--Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 <!--Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

  <%= stylesheet_link_tag    'application', media: 'all'%><!--, 'data-turbolinks-track' => true %>-->
  <%= javascript_include_tag 'application'%> <!--,'data-turbolinks-track' => true %>-->
  <%= csrf_meta_tags %>
  
  
</head>
<body>
  <div class = "nav_body">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="text-align:center; z-index:10000;">      
        <ul class="nav-list">
          <li class="nav_home"><a href="/">Home</a></li>
          <li class="nav_poster"><a href="/home/list">Poster</a></li>
          <li class="nav_edit"><a href="/hposts">Edit</a></li>
          <li class="nav_about"><a href="/home/about">About</a></li>
        </ul>
        <!--<footer>-->
        <!--  Inspired by <a href="http://www.youneedabudget.com/">YNAB</a> created by: <a href="https://twitter.com/FWeinb" class="red">Fabrice Weinberg</a>-->
        <!--</footer>-->
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>

<script>
    var $navList = $('.nav-list');
    $navList.on('click', 'li:not(.selected)', function(e){
    $navList.find(".selected").removeClass("selected");
    $(e.currentTarget).addClass("selected");
    });
</script>
